/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.btn {
  box-shadow: none !important;
}

.form-check-input:checked {
  box-shadow: none !important;
}

input[type="checkbox"] {
  cursor: pointer;
}

.sign-in-card-body {
  padding: 40px 33px;
}

.auth-wrapper a.sign-in-brand-logo {
  margin-top: 0;
  margin-bottom: 0;
}

.sign-in-form {
  margin-top: 35px;
}

.incorrect-email-pass-error {
  padding-bottom: 10px;
}

.remember-me {
  margin-top: -5px !important;
  padding-top: -5px !important;
}

.btn-sign-in {
  margin-top: 10px !important;
}

.bb {
  border: 1px solid red;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body .auth-wrapper {
    background-color: white !important;
  }

  .auth-wrapper .card {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .auth-wrapper .bs-stepper {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.brand-text {
	color: #6610F2 !important;
}

.nav-item.nav-toggle {
	display: none !important;
}

.basic-card {
  width: 340px;
  margin-top: 200px;

  .card-title {
    font-size: 15px;
  }
}

.status-report-fields-card {
  margin-top: 100px;

  .form-check-label {
    font-size: 12px;
  }

  .form-check {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .basic-card {
    margin-top: 20px;
  }
}
