//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #259EF0;
$form-check-input-focus-box-shadow: none !important;
$input-focus-box-shadow: none !important;
$btn-box-shadow: none !important;
$btn-focus-box-shadow: none !important;
$btn-active-box-shadow: none !important;
$enable-validation-icons: false;